---
layout: default
---
{% include hero.html %}

<section class="hardwarehack">
  <div class="container">
    <h1 class="text-center">What makes Hack The Universe?</h1>
    <h4 class="text-center">
    hack the universe is pretty dank and great what up
    </h4>
  </div>
</section>
<section id="faq" class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          <p>{{ item.answer | markdownify }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section id="schedule" class="schedule">
  <h1 class="text-center">Schedule</h1>
  <div class="container">
    <div id="schedFriday">
      <div class="row">
        <div class="col-sm-3">
          <header>
            <div>1</div>
            <div>February</div>
          </header>
        </div>
        <div class="col-sm-9">
          <table class="table table-hover">
            <tbody>
              {% for event in site.event.schedule.Friday %} {% assign previous = forloop.index0 | minus: 1 %} {% assign next = forloop.index0 | plus: 1 %} {% if site.event.schedule.Friday[previous].start != event.start %}
              <tr>
                {% if event.track == "ws" %}
                <th></th>
                <td></td>
                {% endif %}
                <th>
                  {{ event.start }}{% if event.end %}<br />|<br />{{ event.end}}{% endif %}
                </th>
                <td>
                  {{ event.text }}
                </td>
                {% if event.track == "main" %} {% if event.start == site.event.schedule.Friday[next].start %}
                <th>
                  {{ site.event.schedule.Friday[next].start }}{% if site.event.schedule.Friday[next].end %}<br />|<br />{{ site.event.schedule.Friday[next].end }}{% endif %}
                </th>
                <td>{{ site.event.schedule.Friday[next].text }}</td>
                {% else %}
                <th></th>
                <td></td>
                {% endif %} {% endif %}
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr />
    <div id="schedSaturday">
      <div class="row">
        <div class="col-sm-3">
          <header>
            <div>2</div>
            <div>February</div>
          </header>
        </div>
        <div class="col-sm-9">
          <table class="table table-hover">
            <tbody>
              {% for event in site.event.schedule.Saturday %} {% assign previous = forloop.index0 | minus: 1 %} {% assign next = forloop.index0 | plus: 1 %} {% if site.event.schedule.Saturday[previous].start != event.start %}
              <tr>
                {% if event.track == "ws" %}
                <th></th>
                <td></td>
                {% endif %}
                <th>
                  {{ event.start }}{% if event.end %}<br />|<br />{{ event.end}}{% endif %}
                </th>
                <td>
                  {{ event.text }}
                </td>
                {% if event.track == "main" %} {% if event.start == site.event.schedule.Saturday[next].start %}
                <th>
                  {{ site.event.schedule.Saturday[next].start }}{% if site.event.schedule.Saturday[next].end %}<br />|<br />{{ site.event.schedule.Saturday[next].end }}{% endif %}
                </th>
                <td>{{ site.event.schedule.Saturday[next].text }}</td>
                {% else %}
                <th></th>
                <td></td>
                {% endif %} {% endif %}
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr />
    <div id="schedSunday">
      <div class="row">
        <div class="col-sm-3">
          <header>
            <div>3</div>
            <div>February</div>
          </header>
        </div>
        <div class="col-sm-9">
          <table class="table table-hover">
            <tbody>
              {% for event in site.event.schedule.Sunday %} {% assign previous = forloop.index0 | minus: 1 %} {% assign next = forloop.index0 | plus: 1 %} {% if site.event.schedule.Sunday[previous].start != event.start %}
              <tr>
                {% if event.track == "ws" %}
                <th></th>
                <td></td>
                {% endif %}
                <th>
                  {{ event.start }}{% if event.end %}<br />|<br />{{ event.end}}{% endif %}
                </th>
                <td>
                  {{ event.text }}
                </td>
                {% if event.track == "main" %} {% if event.start == site.event.schedule.Sunday[next].start %}
                <th>
                  {{ site.event.schedule.Sunday[next].start }}{% if site.event.schedule.Sunday[next].end %}<br />|<br />{{ site.event.schedule.Sunday[next].end }}{% endif %}
                </th>
                <td>{{ site.event.schedule.Sunday[next].text }}</td>
                {% else %}
                <th></th>
                <td></td>
                {% endif %} {% endif %}
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="workshops" class="workshops">
  <div class="container">
    <h1 class="text-center">Workshops</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          {% for workshop in site.event.workshops %}
          <div class="col-xs-12">
            <div class="item">
              <h2 class="text-center">{{ workshop.name }}</h2>
              <hr>
              <p class="workshop-time"><b>Time:</b> {{ workshop.time }}</p>
              <p class="workshop-level"><b>Level:</b> {{ workshop.level }}</p>
              <p class="workshop-description"><b>Description: </b>{{ workshop.description }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </div>
</section>

<section id="venue" class="venue">
  <h1 class="text-center">Venue Details</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.4727674499104!2d-79.94794118455903!3d40.44267206198516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f22118126fd9%3A0xde85298739c61fd4!2sWean+Hall%2C+Pittsburgh%2C+PA+15213!5e0!3m2!1sen!2sus!4v1541198148654" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>


<section id="sponsors" class="sponsors">
  <div class="container">
    <div class="items row">
      <div class="col-xs-12 text-center">
        <h1>Hack The Universe is made possible thanks to the generosity of</h1>
        <hr />
      </div>
    </div>
    <div class="items row">
      {% for sponsor in site.event.sponsors.tier1 %}
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 text-center">
        <div class="item">
          <a href="{{ sponsor.url }}"><img src="{{ sponsor.logo }}"  alt="{{ sponsor.name }}"/></a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if site.event.sponsors.tier1.size > 0 %}<hr />{% endif%}
    <div class="items row">
      {% for sponsor in site.event.sponsors.tier2 %}
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center tier2">
        <div class="item">
          <a href="{{ sponsor.url }}"><img src="{{ sponsor.logo }}"  alt="{{ sponsor.name }}"/></a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if site.event.sponsors.tier2.size > 0 %}<hr />{% endif%}
    <div class="items row">
      {% for sponsor in site.event.sponsors.tier3 %}
      {%- assign i = forloop.index0 | modulo: 2 -%}
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-{% if i == 0 or i == 2 or i == 4 %}1{% else %}2{% endif %} text-center">
        <div class="item">
          <a href="{{ sponsor.url }}"><img {% if sponsor.customstyle %}style="{{ sponsor.customstyle}}" {% endif %}src="{{ sponsor.logo }}"  alt="{{ sponsor.name }}"/></a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if site.event.sponsors.tier3.size > 0 %}<hr />{% endif%}
    <div class="items row anycont">
      {% for sponsor in site.event.sponsors.anycont %}
      <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 text-center">
        <div class="item">
          <a href="{{ sponsor.url }}"><img src="{{ sponsor.logo }}"  alt="{{ sponsor.name }}"/></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
